
<h1>INNANFÖR / WITHIN</h1>

<div align="center" class="embed-responsive embed-responsive-16by9">
        <iframe src="https://player.vimeo.com/video/158330269" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<p><a href="https://vimeo.com/158330269">within trailer</a> from <a href="https://vimeo.com/user4322308">Angela Bravo</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
</div>

<p>Om hur man upprätthåller den komplexa relationen till en intagen förälder som avtjänar livstidsstraff på obestämd tid. Filmen handlar om världen som finns innanför och inte syns, men ändå färgar av sig. Om kriminalvården, avstånd och kroppar som rastas. Om världens bästa pappa och kollektiv bestraffning. Om vad ovisshet, genomskinliga murar och dörrar utan handtag faktiskt gör med en. Filmaren Angela Bravo och hennes syskon växer upp och besöker honom på olika anstalter i Sverige, de spenderar sommarlov, födelsedagar och jular tillsammans. Fängelset blir som ett andra hem, ett ingenmansland. Filmen är en personlig komma ut film där regissören möter innanför, utanför.

<p>Missa inte regissören Angela Bravos besök till <%= link_to 'visningen den 11:e mars på Bio Rio!', "http://tempofestival.se/program/innanfor/" %></p>


